DATABASE_URL=postgres://postgres:postgres@localhost
DB_NAME=pennysheet_dev

TELEGRAM_BOT_TOKEN=1234567890:ABCdef...
TELEGRAM_CHAT_ID=0000000000

APP_ID='enable-banking-app-id'
PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
enable-banking-private-key
-----END PRIVATE KEY-----'
