DATABASE_URL=postgres://postgres:postgres@localhost
DB_NAME=pennysheet_dev

APP_ID='enable-banking-app-id'
PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
enable-banking-private-key
-----END PRIVATE KEY-----'
